.header {
  display: flex;
  justify-content: space-between;
  padding-left: 9.5rem;
  background-color: white;
}

.nav {
  padding-top: 1.8rem;
  display: flex;
  column-gap: 1rem;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  column-gap: 3rem;
}

.user {
  padding-right: 9rem;
  padding-top: 1rem;
  width: 3rem;
}
